
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listItems = new List<SelectListItem> { new SelectListItem { Text = "AM", Value = "AM" }, new SelectListItem { Text = "MN", Value = "MN" }, new SelectListItem { Text = "PM", Value = "PM" } };

}

<h2>Index</h2>


<div class="panel panel">
    <div class="panel-heading">
        QUALITY ADMIN CONTROL
    </div>
    &nbsp;
    <div class="panel-body" style="padding-left: 5px; padding-right: 5px;">
        <div class="row">
            <div class="col-md-6">
                Section:
                @Html.DropDownListFor("", listItems, new { @class = "form-control", required = "required" })
            </div>
            <div class="col-sm-6">
                Quality Report Name:
                @Html.TextBox("ReportPrefixName", null, new { @style = "width:511px", id = "txtReportPrefixName", @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                Report Prefix Name:
                @Html.TextBox("ReportPrefixName", null, new { @style = "width:511px", id = "txtReportPrefixName", @class = "form-control", required = "required" })
            </div>
            <div class="col-sm-6">
                Minimum and Maximum Range: (supperate with a pipe ( | ) symbol)
                @Html.TextBox("ReportPrefixName", null, new { @style = "width:511px", id = "txtReportPrefixName", @class = "form-control", required = "required" })

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                Is Require:
                <asp:CheckBox ID="chb" runat="server" placeholder=""></asp:CheckBox>
            </div>
            <div class="col-sm-6">
                Control Type:
                <asp:DropDownList ID="DropDownList2" runat="server" CssClass="form-control" placeholder="">
                    <asp:ListItem Text="Textbox, Dropdownlist" Value="0"></asp:ListItem>
                </asp:DropDownList>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                Error Message:
                <asp:TextBox ID="TextBox1" runat="server" CssClass="form-control" placeholder="Error message if leave empty"></asp:TextBox>
            </div>

        </div>

        &nbsp;
        <div class="form-group" style="text-align: left;">
            <asp:Button ID="Button34" runat="server" CssClass="btn btn-info" Text="Save" />
            <asp:Button ID="Button35" runat="server" CssClass="btn btn-default" Text="Cancel" />
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <th>
                    #
                </th>
                <th>
                    Section
                </th>
                <th>
                    Quality Report Name
                </th>
                <th>
                    Report Prefix
                </th>
                <th>
                    Action
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Prepack
                        </td>
                        <td>
                            SILO Test
                        </td>
                        <td>
                            SQCT
                        </td>
                        <td>
                            Edit | Delete
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Prepack
                        </td>
                        <td>
                            Return Milk
                        </td>
                        <td>
                            RQCT
                        </td>
                        <td>
                            Edit | Delete
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            APS
                        </td>
                        <td>
                            SILO
                        </td>
                        <td>
                            ASQCT
                        </td>
                        <td>
                            Edit | Delete
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            Quality
                        </td>
                        <td>
                            Tanker
                        </td>
                        <td>
                            TQCT
                        </td>
                        <td>
                            Edit | Delete
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
                        </div>